body {
    overflow-x: hidden;
    margin: 0; padding: 0;
    font-family: Roboto, sans-serif;
    background-color: #ffffff;
    color: #434455;
}

img {
    margin: 0 auto;
    display: block;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.social-networks {
    fill: #f4f4fd;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 16px;
    margin: 0;
}

.header {
    box-shadow: 
        2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
    width: 100%;
}
.header-inline {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}
.navigation {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 76px;
    text-decoration: none;
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    vertical-align: middle;
    color: #4d5ae5;
}
.logoone {
    color: #2e2f42;
}

.nav-ul {
    display: flex;
    gap: 40px;
}
.nav-li {
    list-style-type: none;
}

.nav-li-a {
    display: block;
    padding: 24px 0;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   
.nav-li-a:hover {
    color: #404bbf;
}
.nav-li-a:focus {
    color: #404bbf;
}
.nav-li-a-selected {
    display: block;
    position: relative;
    color: #404bbf;
    padding: 24px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.nav-li-a-selected::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.address {
    font-style: normal;
    display: flex;
    align-items: center;
}
.address-ul {
    display: flex;
    gap: 40px;
    padding: 0;
}
.address-li {
    list-style-type: none;
    display: -webkit-inline-box;
    margin: 0;
}
.address-li-a {
    color: #434455;
    text-decoration: none;
    font-weight: 200;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 0;
}
.address-li-a:first-child {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-li-a:last-child {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-li-a:hover {
    color: #404bbf;
}
.address-li-a:focus {
    color: #404bbf;
}
.menu-open {
    display: none;
}

.section {
    max-width: 1440px;
    padding: 188px 0;
    width: 100%;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
                                        rgba(46, 47, 66, 0.7)), 
                                        url(../images/section-1-background-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}
.section-h {
    margin: 48px auto;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.section-button {
    background-color: #4D5AE5;
    width: 170px; height: 56px;
    margin: 0px auto;
    min-width: 169px;
    display: block;
    color: #fff;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.section-button:hover {
    background-color: #404BBF;
}
.section-button:focus {
    background-color: #404BBF;
}

.advantages {
    width: 100%;
    padding: 120px 0;
}
.advantages-ul {
    gap: 24px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.advantages-li {
    list-style-type: none;
    display: block;
    padding: 12px;
    width: calc((100% - 72px) / 4);
}
.advantages-li-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.advantages-li-h {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.advantages-p { 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-team {
    padding: 120px 0;
    width: 100%;
    background-color: #F4F4FD;
    box-shadow: 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-team-h {
    margin-top: 0;
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.our-team-ul {
    gap: 24px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.our-team-li {
    border-radius: 0px 0px 4px 4px;
    list-style-type: none;
    display: block;
    background-color: #fff;
    text-align: center;
    flex-basis: calc((100% - 3 * 24px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);;
}
.name-position {
    padding: 32px 0;
}
.our-team-li-h {
    margin-bottom: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.our-team-li-p {
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
    color: #434455;
    letter-spacing: 0.02em;
}
.our-team-li-social-network-ul {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style-type: none;
}
.our-team-li-social-network-li {
    width: 40px;
    height: 40px;
}
.our-team-li-social-network-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-li-social-network-a:hover {
    background-color: #404bbf;
}
.our-team-li-social-network-a:focus {
    background-color: #404bbf;
}


.our-portfolio {
    padding: 120px 0;
}
.our-portfolio-h-main {
    margin-bottom: 72px;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}
.our-portfolio-h {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.our-portfolio-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
}
.our-portfolio-li {
    width: calc((100% - 48px) / 3);
    list-style-type: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    border-width: 0px, 1px, 1px, 1px;
    border-color: #E7E9FC;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
        0px 1px 1px rgba(46, 47, 66, 0.16), 
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-image {
    position: relative;
    overflow: hidden;
}
.our-portfolio-image:hover .our-portfolio-image-p {
    transform: translateY(0%);
}
.our-portfolio-img {
    width: 360px;
    height: 300px;
}
.our-portfolio-image-p {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%; width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.name-type {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.our-portfolio-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.our-portfolio-p {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

.footer {
    padding: 100px 0;
    background-color: #2E2F42;
    color: #f4f4fd;
    display: flex;
    align-items: baseline;
}
.footer-div {
    display: flex;
    align-items: baseline;
}
.footer-logo-and-p {
    margin-right: 120px;
}
.logo-two {
    margin-bottom: 16px;
    display: inline-block;
}
.logotwo {
    color: #F4F4FD;
}
.footer-p {
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-div-p {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}
.footer-div-ul {
    
    padding: 0;
    display: flex;
    gap: 16px;
}
.footer-div-li {
    width: 40px;
    height: 40px;
    list-style-type: none;
}
.footer-div-li-a {
    width: 100%; height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-div-li-a:hover {
    background-color: #31d0aa;
}
.footer-div-li-a:focus {
    background-color: #31d0aa;
}

.subscribe-div {
    margin-left: 80px;
}
.subscribe-div-p {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;

}
.subscribe-form {
    display: flex;
    gap: 24px;
}
.subscribe-email {
    width: 264px; height:40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}
.subscribe-email::placeholder {
    color: #ffffff;
}
.subscribe-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}
.subscribe-button-icon{
    margin-left: 16px;
}


.modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%;height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;

    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-menu {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1),
                opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
}
.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    font-size: 12px;
    color: #8E8F99;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
.close-modal {
    width: 24px; height: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal:hover {
    background-color: #404bbf;
    border: none;
}
.close-modal:focus {
    background-color: #404bbf;
    border: none;
}
.close-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal:hover .close-svg {
    fill: #ffffff;
}
.close-modal:focus .close-svg {
    fill: #ffffff;
}

.modal-p {
    font-weight: 500;
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.modal-form {
    margin: 0 auto;
    margin: 16px 24px;
}
.modal-form-div {
    margin-bottom: 8px;
}
.modal-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99; 

    display: block;
    margin-bottom: 4px;
}
.modal-form-div-input {
    position: relative;

}
.modal-text-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text-input:focus {
    border-color: #4D5AE5;
}
.modal-input-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
}
.modal-text-input:focus + .modal-input-icon {
    fill: #4D5AE5;
}
.modal-form-div-textarea {
    margin-bottom: 16px;
}
.modal-text-textarea{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text-textarea:focus {
    border-color: #4D5AE5;
}
.modal-div-for-checkbox {
    margin-bottom: 24px;
}
.modal-div-for-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
}
.modal-div-for-checkbox-label-span{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.privacy-checkbox:checked + .modal-div-for-checkbox-label span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
.privacy-policy-link {
    color: #4d5ae5;
}
.modal-button {
    width: 168px; height: 56px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    border: 0;
    border-radius: 4px;
    margin: 24px auto;
    display: block;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


@media (min-width: 320px) and (max-width: 767px) {
    .header-inline {
        width: 100%;
    }
    .nav-ul {
        display: none;
    }
    .address {
        display: none;
    }
    .menu-open {
        align-self: flex-end;
        display: block;
        width: 17px;
        height: 2px;
        background-color: #2F2F37;
        margin: 26px;
        position: relative;
    }
    .menu-open::before,
    .menu-open::after {
        content: '';
        position: absolute;
        width: 17px;
        height: 2px;
        background-color: #2F2F37;
    }
    .menu-open::after {
        top: -5px;
    }
    .menu-open::before {
        top: 5px;
    }

    .section {
        padding: 72px 0;
    }
    .section-h {
        margin: 0 auto 72px;
        font-size: 36px;
        line-height: 40px;
        font-weight: 700;
    }
    .advantages {
        padding: 96px 0;
    }
    .advantages-li-div {
        display: none;
    }
    .advantages-ul{
        margin: 0;
        flex-wrap: wrap;
        padding: 0;
        gap: 72px;
    }
    .advantages-li {
        width: 100%;
    }
    .advantages-li-h{
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        margin: 0;
    }
    .advantages-p {
        font-weight: 500;
        margin: 0;
    }

    .our-team {
        padding: 96px 0;
    }
    .our-team-ul {
        padding: 0;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 72px;
    }
    .our-team-li-h, .our-team-li-p {
        margin: 0;
    }

    .our-portfolio {
        padding: 96px 0;
    }
    .our-portfolio-ul {
        padding: 0;
    }
    .our-portfolio-li {
        width: 360px;
    }
    .our-portfolio-h{
        text-align: start;
    }
    .our-portfolio-p {
        text-align: start;
    }
    .our-portfolio-img {
        width: 100%;
        height: auto;
    }

    .footer {
        padding: 96px 0;
    }
    .footer-div {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: normal;
    }
    .logo {
        text-align: center;
        width: 100%;
        margin: 0;
    }
    .footer-logo-and-p {
        margin: 0 0 72px;
        width: calc(100% -32px);
    }
    .logo-two {
        margin-bottom: 16px;
    }
    .footer-p {
        max-width: 100%;
    }
    
    .footer-social {
        margin-bottom: 72px;
    }
    .footer-div-p {
        text-align: center;
    }
    .footer-div-ul {
        justify-content: center;
    }
    .subscribe-div {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subscribe-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .subscribe-button{
        width: 165px;
        align-self: center;
    }

    .modal {
        max-width: calc(100% - 32px);
        max-height: calc(100% - 16px);
    }
    .modal-form {
        margin: 0;
    }

    .modal-menu {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
    }
    .is-open-menu {
        left: 0;
        opacity: 1;
    }
    .nav-ul-modal {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 72px 0;
        padding-left: 16px;
    }
    .nav-li {
        list-style-type: none;
        padding: 20px 0;
    }
    .nav-li-a {
        font-size: 36px;
        font-weight: 700;
    }

    .nav-li-a-selected {
        font-size: 36px;
        font-weight: 700;
    }
    .nav-li-a-selected::after {
        display: none;
    }
    .address-ul {
        padding-left: 16px;
        flex-direction: column;
        gap: 24px;
    }
    .address-li-a {
        font-size: 20px;
        font-weight: 500;
        padding: 0;
    }
    .our-team-li-social-network-ul-modal {
        margin-top: 48px;
        gap: 40px;
        padding: 0;
        display: flex;
        justify-content: center;
        list-style-type: none;
    }
}
@media (min-width: 768px) and (max-width: 1157px) {
    .header-inline {
        padding: 0 16px;
        width: 100%;
    }
    .logo {
        margin-right: 52px;
    }
    .address-ul {
        flex-direction: column;
        gap: 6px;
        margin: 9px 0;
    }
    .address-li-a {
        font-size: 12px;
    }

    .section {
        padding: 112px 0;
    }
    .advantages {
        padding: 86px 0;
    }
    .advantages-ul {
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .advantages-li {
        flex-basis: calc((100% - 24px) / 2);
    }
    .advantages-li-div {
        display: none;
    }
    .advantages-li-h {
        font-size: 36px;
        font-weight: 700;
    }
    .advantages-p {
        font-weight: 500;
    }
    .our-team-ul {
        flex-wrap: wrap;
        gap: 64px 24px;
        padding: 0 92px;
    }
    .our-team-li {
        flex-basis: calc((100% - 24px) / 2);
    }
    .our-portfolio-h-main {
        font-size: 36px;
        font-weight: 700;
    }
    .our-portfolio-ul {
        padding: 0;
        gap: 72px 24px;
    }
    .our-portfolio-li {
        width: calc((100% - 24px) / 2);
    }
    .our-portfolio-h {
        text-align: left;
        font-weight: 500;
    }
    .our-portfolio-p {
        text-align: left;
    }
    .footer {
        padding: 96px;
    }
    .footer-div {
        flex-wrap: wrap;
    }
    .footer-logo-and-p {
        margin-right: 24px;
        margin-bottom: 72px;
    }
    .logo-two {
        margin-bottom: 16px;
    }
    .subscribe-div {
        margin-left: 0;
    }
}
@media only screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .hero-wrapper {
        background-image: linear-gradient(rgba(17, 17, 17, 0.4),
                rgba(17, 17, 17, 0.4)),
            url('../images/section-1-background-mobile-x2.jpg');
    }
}

@media only screen and (min-width: 768px) {
    .hero-wrapper {
        background-image: linear-gradient(rgba(17, 17, 17, 0.4),
                rgba(17, 17, 17, 0.4)),
            url('../images/section-1-background-tabs.jpg');
    }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero-wrapper {
        background-image: linear-gradient(rgba(17, 17, 17, 0.4),
                rgba(17, 17, 17, 0.4)),
            url('../images/section-1-background-tabs-x2.jpg');
    }
}

@media only screen and (min-width: 1158px) {
    .hero-wrapper {
        background-image: linear-gradient(rgba(17, 17, 17, 0.4),
                rgba(17, 17, 17, 0.4)),
            url('../images/section-1-background-desktop.jpg');
    }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero-wrapper {
        background-image: linear-gradient(rgba(17, 17, 17, 0.4),
                rgba(17, 17, 17, 0.4)),
            url('../images/section-1-background-desktop-x2.jpg');
    }
}